{% extends 'bootstrap/base.html' %}
{% block title %}个人学习网站{% block titledetail %}{% endblock titledetail %}{% endblock title %}

{%- block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{%- endblock metas %}

{%- block styles %}
{{ super() }}
<!-- Currnt Styples -->
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.0/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<style>
  .nav-ext-font-30 {
    font-size: 30px;
  }
  .nav-ext-font-15 {
    font-size: 15px;
  }
  .nav-ext-font-10 {
    font-size: 15px;
  }
</style>
{%- endblock styles %}

{% block navbar %}


<div class="container">
  <nav class="navbar navbar-expand-lg bg-light rounded" aria-label="Eleventh navbar example">
    <div class="container-fluid">
      <a class="nav-link nav-ext-font-30" href="{{ url_for('index') }}">Kenny</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09"
        aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link nav-ext-font-15" href="{{ url_for('blog.index') }}">笔记</a>
          </li>
          <li class="nav-item nav-ext-font-15">
            <a class="nav-link" href="{{ url_for('life') }}">生活</a>
          </li>
          <li class="nav-item nav-ext-font-15">
            <a class="nav-link" href="{{ url_for('about_me') }}">关于我</a>
          </li>
        </ul>


        <ul class="navbar-nav text-lg-end">
          {% if g.user %}
          <li class="nav-item"><a class="nav-link nav-ext-font-10" href="#">{{ g.user['name'] }}</a></li>
          <li>
            <a class="nav-link nav-ext-font-10" aria-current="page" href="{{ url_for('auth.logout')}}">注销</a>
          </li>
          {% else %}
          <li class="nav-item nav-ext-font-10"><a class="nav-link" href="{{ url_for('auth.login')}}">游客</a></li>
          <li class="nav-item">
            <a class="nav-link nav-ext-font-10" aria-current="page" href="{{ url_for('auth.login')}}">登录</a>
          </li>
          {% endif %}
        </ul>
        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
</div>
{% endblock navbar %}

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% block content %}
  <div style="text-align: center!important;">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
  </div>
  <div class="container">

    {% block page_content %}
    {% endblock %}
  </div>

  {% block footer %}
  <div class="container">
    <footer class="fixed-bottom py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      </ul>

      <div class="text-center small mt-2 pt-2">
        <img src="https://www.beian.gov.cn/img/new/gongan.png">
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=61019002002007" target="_blank">
          陕公网安备61019002002007号
        </a>|
        <a href="https://beian.miit.gov.cn/" target="_blank">陕ICP备2021014373号-1</a>
      </div>

    </footer>
  </div>
  {% endblock footer %}

  {% endblock %}

  {% block scripts %}
  <script src="{{url_for('static', filename='bootstrap-5.3.0/js/bootstrap.bundle.min.js')}}"></script>
  {%- endblock scripts %}
</section>